{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Contact
	{% endblock %}

	{% block content %}

		<h2 class="section-container"> Contact us </h2>

			{% if session.errorContact %}
   				 <div class="alert alert-danger">
	   				 <b>{{ flash.getMessage('ErrorMessage')[0] }}</b>
	   				{% for session in session.errorContact %}
	        		 	<p>{{ session }}</p>
	        		 {% endfor %}
    			</div>
			{% endif %}

			{% if flash.getMessage('SuccesMessage')[0] %}
   				 <div class="alert alert-success">
        		<b>{{ flash.getMessage('SuccesMessage')[0] }}</b>
    			</div>
			{% endif %}

			<div class="formContact">
				<form name="contact"  method="post" action="{{ path_for('postContact') }}">

						<div class="col-md-offset-2 col-md-7">
							<label for="name">Full name </label>
							<span class="required">*</span><br>
							<input class= form-control id="name" type="text" name="name" placeholder="Enter your name"/>
							<br>
						</div>

						<div class="col-md-offset-2 col-md-7">
							<label for="mail">Email adress </label>
							<span class="required">*</span><br>
							<input class= form-control id="mail" type="text" name="email" placeholder="Enter your email adress"><br>
						</div>

						<div class="col-md-offset-2 col-md-7">
							<label for="sujet">Subject </label>
							<span class="required">*</span><br>
							<input class= form-control id="sujet" type="text" name="subject" placeholder="Subject"/><br>
						</div>

						<div class="row">
                  			<div class="col-md-offset-2 col-md-7">
                  				<div class="form-group">
									<label for="message">Message </label>
									<span class="required">*</span><br>
									<textarea class= form-control name="message" cols="30" rows="8" placeholder="Enter your message..."></textarea><br>
								</div>
							</div>
						</div>


							<div class="col-md-offset-2">
								<button class="btn btn-success" type="submit" value="submit" name="buttonSubmit">Submit</button>
							</div>

				</form>
			</div>
			<br>

	{% endblock %}
