{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Home
	{% endblock %}

	

	{% block content %}

		{% if flash.getMessage('InfoDeconnected')[0] %}
	   		<div class="alert alert-danger">
	        	<b>{{ flash.getMessage('InfoDeconnected')[0] }}</b>
	    	</div>
		{% endif %}

		{% if flash.getMessage('Info')[0] %}
	   		<div class="alert alert-success">
	        	<b>{{ flash.getMessage('Info')[0] }}</b>
	    	</div>
		{% endif %}

		<div class="shoesContainer">
			{% for row in shoes %}
				
				<div class="shoes"> 				
					<img class="shoesImage" src="/Assets/images/shoes/{{ row.image }}"><br>
					<a href="{{ path_for('details', {'id': row.id}) }}" title="More details"><strong>{{ row.brand.legend }}</strong></a>
					<div class="shoesDescription"> </div><br>
					<div> <h5><strong>Size : {{ row.size }}</strong></h5> </div>
					<div> <strong class="price">Price per day : <span>{{ row.price_per_day }}<sup>€00</sup><span></strong> </div><br>
								
					<div class="ajouterPanier margin-bottom">
						<a href="{{ path_for('bag') }}">Add to bag</a>
					</div>
				</div>
			{% else %}
				<h2>Aucune chaussure dans ce magasin</h2>
			{% endfor %}
		</div>

	{% endblock %}